<!doctype html>
<html lang="en">
	{% include "head" %}

	<body>
		<div class="wrapper">
			<!-- Start your website here -->
		</div>

		{{ "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" | asset_url | script_tag }}
		{{ "plugins.min.js" | asset_url | script_tag }}
		{{ "script.min.js" | asset_url | script_tag }}
	</body>
</html>