html,
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

body {
	font-family: $font1;
	font-style: normal;
	font-size: 14px;
	line-height: 140%;
	color: $seccol;
	background: $gray;

	text-rendering: optimizeLegibility;

	-moz-font-feature-settings:"pnum" 1, "kern" 1; 
	-moz-font-feature-settings:"pnum=1, kern=1"; 
	-ms-font-feature-settings:"pnum" 1, "kern" 1; 
	-o-font-feature-settings:"pnum" 1, "kern" 1; 
	-webkit-font-feature-settings:"pnum" 1, "kern" 1; 
	font-feature-settings:"pnum" 1, "kern" 1;

	hyphens: auto;

	@include at-breakpoint($tablet){
		font-size: 16px;
	}

	@include at-breakpoint($computer){
		font-size: 18px;
	}
}

* {
	@include box-sizing(border-box);
}

img {
	max-width: 100%;
	max-height: auto;
	border: 0;
}

#{headings()} {
	font-weight: 300;
	margin: 1em 0 0.3em;
	line-height: 100%;
	font-family: $font1;
	color: inherit;
	
	span {
		display: block;
	}
	
	&:first-child {
		margin-top: 0;
	}

	a {
		border: 0;
	}
}

h1 {font-size: 240%;}
h2 {font-size: 150%;}
h3 {font-size: 120%;}
h4 {font-size: 110%;}
h5 {font-size: 105%;}
h6 {font-size: 100%;}

p,table,ul,ol {
	margin: 0.5em 0 1.2em;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	li {
		margin-bottom: 0.2em;
	}
}

ol {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */

    &>li {
		position:relative; /* Create a positioning context */
		margin: 0 0 0.5em 1.6em; /* Give each list item a left margin to make room for the numbers */
		padding: 4px 8px; /* Add some spacing around the content */
		list-style:none; /* Disable the normal item numbering */
		border-top: 1px solid $gray;

		&:before {
			content: counter(li)'.'; /* Use the counter as content */
			counter-increment: li; /* Increment the counter by 1 */

			/* Position and style the number */
			position:absolute;
			top: -1px;
			left: -1.6em;
			-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			box-sizing:border-box;
			width: 1.6em;

			/* Some space between the number and the content in browsers that support
			   generated content but not positioning it (Camino 2 is one example) */
			margin-right: 8px;
			padding: 4px 4px 4px 8px;
			text-align:left;
			font-weight: 700;
			background: $gray;
		}
	}
}

a {
	text-decoration: none;
	border-bottom: 1px solid;

	color: inherit;
}

table {
	td {
		vertical-align: top;
	}
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="file"],
select,
textarea {
	border: 1px solid darken($white,25%);
	padding: 0.5em 0.7em;
	font-family: $font1;
	font-size: 100%;
	width: 100%;
	@include box-shadow(rgba($black,0.15) 0 1px 3px inset);
	background: darken($white,3%);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="file"] {
	-webkit-appearance: none;
}

button,
input[type="submit"] {
	cursor: pointer;
	font-family: $font1;
	font-size: 100%;
}