html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: serif;
  font-style: normal;
  font-size: 14px;
  line-height: 140%;
  color: #002c5a;
  background: #ebebeb;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "pnum" 1, "kern" 1;
  -moz-font-feature-settings: "pnum=1, kern=1";
  -ms-font-feature-settings: "pnum" 1, "kern" 1;
  -o-font-feature-settings: "pnum" 1, "kern" 1;
  -webkit-font-feature-settings: "pnum" 1, "kern" 1;
  font-feature-settings: "pnum" 1, "kern" 1;
  hyphens: auto;
}
@media (min-width: 46em) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 60em) {
  body {
    font-size: 18px;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: auto;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 1em 0 0.3em;
  line-height: 100%;
  font-family: serif;
  color: inherit;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  display: block;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  border: 0;
}

h1 {
  font-size: 240%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 120%;
}

h4 {
  font-size: 110%;
}

h5 {
  font-size: 105%;
}

h6 {
  font-size: 100%;
}

p, table, ul, ol {
  margin: 0.5em 0 1.2em;
}

p:last-child {
  margin-bottom: 0;
}

ul li {
  margin-bottom: 0.2em;
}

ol {
  counter-reset: li;
  /* Initiate a counter */
  margin-left: 0;
  /* Remove the default left margin */
  padding-left: 0;
  /* Remove the default left padding */
}
ol > li {
  position: relative;
  /* Create a positioning context */
  margin: 0 0 0.5em 1.6em;
  /* Give each list item a left margin to make room for the numbers */
  padding: 4px 8px;
  /* Add some spacing around the content */
  list-style: none;
  /* Disable the normal item numbering */
  border-top: 1px solid #ebebeb;
}
ol > li:before {
  content: counter(li) ".";
  /* Use the counter as content */
  counter-increment: li;
  /* Increment the counter by 1 */
  /* Position and style the number */
  position: absolute;
  top: -1px;
  left: -1.6em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1.6em;
  /* Some space between the number and the content in browsers that support
     generated content but not positioning it (Camino 2 is one example) */
  margin-right: 8px;
  padding: 4px 4px 4px 8px;
  text-align: left;
  font-weight: 700;
  background: #ebebeb;
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: inherit;
}

table td {
  vertical-align: top;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="file"],
select,
textarea {
  border: 1px solid #bfbfbf;
  padding: 0.5em 0.7em;
  font-family: serif;
  font-size: 100%;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px inset;
  background: #f7f7f7;
}

button,
input[type="submit"] {
  cursor: pointer;
  font-family: serif;
  font-size: 100%;
}

.button,
a.button {
  display: inline-block;
  padding: 0.5em 1em;
  background: #002c5a;
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 100, color-stop(0%, #005ec0), color-stop(100%, #002c5a));
  background-image: -webkit-radial-gradient(top center, #005ec0, #002c5a);
  background-image: -moz-radial-gradient(top center, #005ec0, #002c5a);
  background-image: -o-radial-gradient(top center, #005ec0, #002c5a);
  background-image: radial-gradient(top center, #005ec0, #002c5a);
  color: white;
  font-family: serif;
  font-weight: 500;
  border: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
}
.button:hover, .button:focus,
a.button:hover,
a.button:focus {
  background: #00458d;
  color: white;
}
.button:focus,
a.button:focus {
  outline: 1px solid #002c5a;
}
.button:active,
a.button:active {
  background: #005ec0;
}
.button:disabled,
a.button:disabled {
  background: #f2f2f2;
  color: #bfbfbf;
  cursor: default;
}
.button.prim,
a.button.prim {
  background: #ffd800;
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 100, color-stop(0%, #ffe866), color-stop(100%, #ffd800));
  background-image: -webkit-radial-gradient(top center, #ffe866, #ffd800);
  background-image: -moz-radial-gradient(top center, #ffe866, #ffd800);
  background-image: -o-radial-gradient(top center, #ffe866, #ffd800);
  background-image: radial-gradient(top center, #ffe866, #ffd800);
  color: #002c5a;
}
.button.prim:hover, .button.prim:focus,
a.button.prim:hover,
a.button.prim:focus {
  background: #ffe033;
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 100, color-stop(0%, #ffef99), color-stop(100%, #ffe033));
  background-image: -webkit-radial-gradient(top center, #ffef99, #ffe033);
  background-image: -moz-radial-gradient(top center, #ffef99, #ffe033);
  background-image: -o-radial-gradient(top center, #ffef99, #ffe033);
  background-image: radial-gradient(top center, #ffef99, #ffe033);
}
.button.block,
a.button.block {
  display: block;
  text-align: center;
  width: 100%;
}

.callto {
  overflow: hidden;
  *zoom: 1;
  display: block;
  border: 0;
  background: #ffd800;
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 100, color-stop(0%, #ffe866), color-stop(100%, #ffd800));
  background-image: -webkit-radial-gradient(top center, #ffe866, #ffd800);
  background-image: -moz-radial-gradient(top center, #ffe866, #ffd800);
  background-image: -o-radial-gradient(top center, #ffe866, #ffd800);
  background-image: radial-gradient(top center, #ffe866, #ffd800);
  padding: 2em;
  margin-bottom: 2em;
  color: black;
}
.callto strong, .callto em {
  font-style: normal;
}
.callto strong {
  display: block;
  font-size: 150%;
  font-weight: 500;
}
.callto em {
  display: block;
}
.callto em:after {
  content: "\f105";
  font-family: "FontAwesome", sans-serif;
  margin-left: 0.3em;
}
.callto:hover {
  color: #002c5a;
  background: #ffe033;
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 100, color-stop(0%, #ffef99), color-stop(100%, #ffe033));
  background-image: -webkit-radial-gradient(top center, #ffef99, #ffe033);
  background-image: -moz-radial-gradient(top center, #ffef99, #ffe033);
  background-image: -o-radial-gradient(top center, #ffef99, #ffe033);
  background-image: radial-gradient(top center, #ffef99, #ffe033);
}
.callto.blauw {
  background: #002c5a;
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 100, color-stop(0%, #005ec0), color-stop(100%, #002c5a));
  background-image: -webkit-radial-gradient(top center, #005ec0, #002c5a);
  background-image: -moz-radial-gradient(top center, #005ec0, #002c5a);
  background-image: -o-radial-gradient(top center, #005ec0, #002c5a);
  background-image: radial-gradient(top center, #005ec0, #002c5a);
  color: white;
}
.callto.blauw:hover {
  background: #00458d;
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 100, color-stop(0%, #006ada), color-stop(100%, #003874));
  background-image: -webkit-radial-gradient(top center, #006ada, #003874);
  background-image: -moz-radial-gradient(top center, #006ada, #003874);
  background-image: -o-radial-gradient(top center, #006ada, #003874);
  background-image: radial-gradient(top center, #006ada, #003874);
}
@media (min-width: 60em) {
  .callto strong,
  .callto em {
    display: inline;
  }
  .callto em {
    float: right;
  }
}

/* Alternative list styles */
.checklist {
  padding: 0;
  list-style: none;
}
.checklist li {
  padding-left: 25px;
  margin-bottom: 1em;
}
.checklist li a {
  border: 0;
}
.checklist li:before {
  content: "\f058";
  float: left;
  margin-left: -25px;
  font-family: "FontAwesome", sans-serif;
}

.item-list {
  list-style: none;
  padding: 0;
}
.item-list li {
  position: relative;
  display: block;
  margin: 0;
  padding: 0.4em 0;
}
.item-list li a {
  border: 0;
}
.item-list.news-list li {
  padding: 0.4em 0;
}
.item-list.news-list li:after {
  content: attr(data-date);
  display: block;
  font-size: 80%;
  color: #ababab;
}
.item-list.news-list li:hover:after {
  color: #6c6c6c;
}
@media (min-width: 46em) {
  .item-list.news-list li {
    padding: 0.4em 100px 0.4em 0;
  }
  .item-list.news-list li:after {
    position: absolute;
    top: 0.5em;
    right: 0;
  }
}
